@page "/login"

@inject IAuthentificationRepository authRepo
@inject NavigationManager navManager

<h3 class="my-5">Login Page</h3>

<div class="d-flex justify-content-center align-items-center">
    <div class="card p-4 col-5">
        <EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="pb-4">
                <label class="fw-bold">User Name</label>
                <InputText class="form-control" @bind-Value="LoginModel.UserName" />
            </div>

            <div class="pb-4">
                <label class="fw-bold">Password</label>
                <InputText class="form-control" @bind-Value="LoginModel.Password" type="password" />
            </div>
            <br />
            <button class="btn btn-primary col-4" type="submit"> Login User</button>
        </EditForm>
    </div>
</div>


@code {
    User LoginModel = new();

    private async Task HandleLogin()
    {
        var isLogged = await authRepo.Login(LoginModel.UserName, LoginModel.Password);
        if (isLogged)
            navManager.NavigateTo("/");
    }

    private void RegisterUser()
    {
        navManager.NavigateTo("/register");
    }
}

