@page "/register"

@inject IAuthentificationRepository authRepo
@inject NavigationManager navManager

<h3 class="my-5">Register Page</h3>

<div class="card p-4 d-flex justify-content-center">
    <EditForm Model="RegisterModel" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="pb-4">
            <label class="fw-bold">User Name</label>
            <InputText class="form-control" @bind-Value="RegisterModel.UserName" />
        </div>

        <div class="pb-4">
            <label class="fw-bold">Password</label>
            <InputText class="form-control" @bind-Value="RegisterModel.Password" type="password" />
        </div>

        <div class="pb-4">
            <label class="fw-bold">User Role</label>
            <InputSelect class="form-control" @bind-Value="RegisterModel.UserRole">
                 <option value="">-- Select a role --</option>
                @foreach (var role in Enum.GetValues(typeof(Roles)))
                {
                    <option value="@role">@role</option>
                }
            </InputSelect>
        </div>
        <br />
        <button class="btn btn-primary" type="submit">
            Register User
        </button>
    </EditForm>
</div>



@code {
    User RegisterModel = new();

    private async Task HandleRegister()
    {
        var isRegister = await authRepo.Register(RegisterModel);
        if (isRegister)
            navManager.NavigateTo("/login");
    }
}
