@page "/outstandingorders"

@attribute [Authorize(Roles = "Administrator")]

@inject IViewOutstandingOrdersUseCase viewOrders


<h3 class="mb-4">OutStandingOrders</h3>

<OrderListComp Orders="Orders"/>



@code {
    List<Order> Orders= new();

    protected override async Task OnInitializedAsync()
    {
        Orders = await viewOrders.ExecuteAsync(Endpoints.OutstandingOrdersUrl);
    }
}
