@page "/"

@inject ISearchProductUseCase

@attribute [Authorize]

<h3 class="mt-5">SearchProductsPage</h3>

<SearchBarComp/>



@code {    
    List<Product> Products;

    protected override async Task OnInitializedAsync()
    {
        Products = await 
    }
}
