@page "/"

@inject ISearchProductUseCase searchProduct

@attribute [Authorize]

<h3 class="mb-5">SearchProductsPage</h3>

<SearchBarComp OnSearch="OnFilteringProducts" />

<div class="row">
    @if (Products != null & Products?.Count > 0)
    {
        foreach (var product in Products)
        {
            <ProductItemComp Product="product" />
        }
    }
</div>


@code {
    List<Product> Products = new();
    string filter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Products = await searchProduct.GetProducts(Endpoints.ProductUrl);
    }

    private void OnFilteringProducts(string filter)
    {
        this.filter = filter;
    }
}
