@page "/"
@page "/products"

@inject ISearchProductUseCase searchProduct

@attribute [Authorize]

<h3 class="mb-5">Search Products</h3>

<SearchBarComp OnSearch="OnFilteringProducts" />

<div class="row">
    @if (Products != null & Products?.Count > 0)
    {
        foreach (var product in Products)
        {
            <ProductItemComp Product="product" />
        }
    }
</div>


@code {
    List<Product> Products = new();

    protected override async Task OnInitializedAsync()
    {
        Products = await searchProduct.GetProducts(Endpoints.ProductUrl);
    }

    private async Task OnFilteringProducts(string filter)
    {
        Products = await searchProduct.GetProducts(Endpoints.ProductUrl, filter);
    }
}
