@page "/shoppingCart"

@inject IViewShoppingCartUseCase viewShoppingCart

<h3 class="my-4">ShoppingCardPage</h3>

<div class="row">
    <div class="col-7">
        @foreach (var item in OrderListItems)
        {
            <LineItemComp />
        }
    </div>
    <div class="col">
        <OrderSummaryComp />
    </div>
</div>



@code {
    Order order=new();

    protected override await Task OnInitializedAsync()
    {
        order = await _viewShoppingCart.ExecuteAsync();
    }
}
