@page "/shoppingCart"

@attribute [Authorize]

@inject IViewShoppingCartUseCase viewShoppingCart

<h3 class="my-4">ShoppingCardPage</h3>

@if (order != null && order.LineItems != null)
{
    <div class="row">
        <div class="col-8">
            @foreach (var item in order.LineItems)
            {
                <LineItemComp LineItem="item" OnUpdateQty="HandleUpdateQty" OnDeleteLineItem="HandleDeleteLineItem" />
                <br />
            }
        </div>
        <div class="col">
            <OrderSummaryComp Order="order" IsVisible="true"/>
        </div>
    </div>
}

@code {
    Order order = new();

    protected override async Task OnInitializedAsync()
    {
        order = await viewShoppingCart.ExecuteAsync();
    }

    private async Task HandleUpdateQty(Order order)
    {
        this.order = order;
    }

    private async Task HandleDeleteLineItem(Order order)
    {
        this.order = order;
    }
}
