@implements IDisposable

@inject IShoppingCartStateStore stateStore

<a class="navbar-brand" href="/shoppingCart">
    Card(@itemCount)
</a>

@code {
    int itemCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            stateStore.AddStateChangeListeners(HandleLineItemCount);
            itemCount = await stateStore.GetItemsCountAsync();
            StateHasChanged();
        }
    }

    private async void HandleLineItemCount()
    {
        itemCount = await stateStore.GetItemsCountAsync();
        StateHasChanged();
    }

    public void Dispose()
    {
        stateStore.RemoveStateChangeListeners(HandleLineItemCount);
    }
}
