<nav class="navbar navbar-light bg-light px-xl-5 px-sm-3">
    <AuthorizeView>
        <Authorized>
            <div class="d-flex justify-content-start">
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/outstandingorders">Outstanding Orders</a>
                <a class="navbar-brand" href="processedOrders">Processed Order</a>
            </div>
            <div class="d-flex justify-content-end">
                <span class="navbar">
                    @context?.User?.Identity?.Name
                    (@context?.User?.Claims.Where(q=> q.Type == ClaimTypes.Role).Select(s=> s.Value).FirstOrDefault()) &nbsp;
                </span>
                <a class="nav-link active" href="/logout">Log Out</a>
                <AuthorizeView Roles="Administrator" Context="register">
                    <Authorized>
                        <a class="nav-link active me-2" href="/register">Register</a>
                    </Authorized>
                </AuthorizeView>
                <CardComp />
            </div>
        </Authorized>
    </AuthorizeView>
</nav>
